
{% extends 'base.html' %}
{% block content %}



<h1>NZA LAW</h1>

<div class="jumbotron">
        <h2 class="display-4">Welcome in Nza Law Application</h2>
        <p class="lead">We dedicate ourselves to our client's causes and relentlessly pursue their interests to solve their problems. We eagerly take on the most complex cases, often against some of the most respected adversaries across the country. We take satisfaction in efficiently winning the best outcomes for our clients.</p>
        <hr class="my-4">
        <p>Nielsen, Zehe & Antas, P.C.
                55 West Monroe Street, Suite 1800
                Chicago, Illinois 60603</p>
        
</div>


{% endblock content%}